<div class="mt-12 text-center">
    <h1 class="text-5xl font-extrabold text-gray-800 mb-4 animate__animated animate__fadeIn animate__delay-1s">Catalogo de Autos 2025</h1>
    <img src="https://acroadtrip.blob.core.windows.net/catalogo-imagenes/m/RT_V_d802ab7a9bfa4e07b33602a9020c8fc8.webp" alt="Catalogo de Autos" class="mx-auto mb-4 rounded-lg shadow-xl w-3/4 lg:w-1/2">
    <p class="text-lg text-gray-600 animate__animated animate__fadeIn animate__delay-2s">Explora nuestra amplia variedad de vehículos para el año 2025, con opciones para todos los gustos y necesidades.</p>
  </div>