<div class="mt-5 text-center">
  <h1 class="display-4 font-weight-bold text-dark mb-4 animate__animated animate__fadeIn animate__delay-1s">Catálogo de Autos 2025</h1>
  <a href="/vehicles" alt="Catálogo de Autos" class="d-block mx-auto mb-4 rounded shadow-lg w-75 w-lg-50">
      <img src="https://acroadtrip.blob.core.windows.net/catalogo-imagenes/m/RT_V_d802ab7a9bfa4e07b33602a9020c8fc8.webp" alt="Catálogo de Autos" class="w-100 h-auto rounded shadow-lg" />
  </a>
  <p class="h5 text-muted animate__animated animate__fadeIn animate__delay-2s">Explora nuestra amplia variedad de vehículos para el año 2025, con opciones para todos los gustos y necesidades.</p>
</div>
